<template>
    <div>
        <navigation/>
        <sidebar/>

        <div class="amazing-container tables">
            <div class="row">
                <b-button v-b-modal="'add-book'" class="addbook">
                    <img :src="require(`@/assets/img/add-user.png`)"/>&nbsp;ADD BOOKS
                </b-button>

                    <b-modal id="add-book" class="modal-title" title="Add Book" hide-footer>
                        <div class="modal-body">
                            <div class="row">
                                <p>Name</p>
                                <div class="col name">
                                    <input type="text">
                                </div>
                            </div>
                        <div class="row">
                                <p>Author</p>
                                <div class="col author">
                                    <input type="text">
                                </div>
                            </div>
                            <div class="row">
                                <p>Copies</p> 
                                <div class="col copies">
                                    <input type="text">
                                </div>
                            </div>
                            <div class="row">
                                <p>Category</p> 
                                <div class="col eadd">
                                    <div class="btn-group">
                                    <!-- <button type="button" class="dropdown-toggle category" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="drop-text">Select Category</span>
                                    </button> -->
                                    <b-dropdown class="dropdown-menu" text="Select Category" variant="outline">
                                        <b-dropdown-item class="dropdown-item">History</b-dropdown-item>
                                        <b-dropdown-item class="dropdown-item">Science</b-dropdown-item>
                                        <b-dropdown-item class="dropdown-item">Math</b-dropdown-item>
                                    </b-dropdown>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn edits" block @click="$bvModal.hide('add-book')"><img :src="require(`@/assets/img/add-user.png`)"/> ADD PATRON</button>
                            <button type="button" class="btn cancel" block @click="$bvModal.hide('add-book')">CLOSE</button>
                        </div>
                    </b-modal>
         
                <div class="col-sm-5">
                    <div class="input-group mb-3 search">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-append">
                        <b-button class="searchs">Search</b-button>
                    </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
            <table class="content-table">
                <thead>
                <tr>
                    <th>ACTION</th>
                    <th>NAME</th>
                    <th>AUTHOR</th>
                    <th>COPIES AVAILABLE</th>
                    <th>CATEGORY</th>
                </tr>
                </thead>
                <tbody>
                    <tr v-for="(book, index) in books" :key="index">
                        <td class="buttons">
                            <b-button v-b-modal="'delete'" class="delete">
                                <img :src="require(`@/assets/img/delete.png`)"/>DELETE
                            </b-button>
                                <b-modal id="delete" class="modal-title" title="Delete this Row?" hide-footer no-close-on-esc hide-header-close no-close-on-backdrop>
                                    <div class="modal-body">
                                        <div class="row">
                                            <p>Do you want to delete this row?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn edits" block @click="$bvModal.hide('delete')">CONFIRM</button>
                                            <button type="button" class="btn cancel" block @click="$bvModal.hide('delete')">CANCEL</button>
                                        </div>
                                    </div>
                                </b-modal>
                                &nbsp;&nbsp;
                            <button type="submit" class="btn edit"><img :src="require(`@/assets/img/edit.png`)"/> EDIT</button>
                            <br>
                            <button type="submit" class="btn return"><img :src="require(`@/assets/img/back.png`)"/> RETURN</button>&nbsp;&nbsp;
                            <button type="submit" class="btn borrow"><img :src="require(`@/assets/img/lend.png`)"/> BORROW</button>
                        </td>
                        <td>
                        <p class="text-center">
                            {{
                            `${book.name}`
                            }}
                        </p>
                        </td>
                        <td>
                        <p class="text-center">{{ book.author }}</p>
                        </td>
                        <td>
                        <p class="text-center">{{ book.copies }}</p>
                        </td>
                        <td>
                        <p class="text-center">{{ book.category }}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  data() {
    return {
      books: [
        {
            name: "Clean Architecture",
            author: "Robert Martin",
            copies: "5",
            category:"Computer Science"
        },
        {
            name: "Clean Architecture",
            author: "Robert Martin",
            copies: "5",
            category:"Computer Science"
        },
        {
            name: "Clean Architecture",
            author: "Robert Martin",
            copies: "5",
            category:"Computer Science"
        },
        {
            name: "Clean Architecture",
            author: "Robert Martin",
            copies: "5",
            category:"Computer Science"
        },
        
      ],
    };
  },
  mounted() {
    document.title = "Stacks Library | Book Management"
  }
};
</script>