<template>
    <div>
        <navigation/>
        <sidebar/>

        <div class="amazing-container tables">
            <div class="row">
                <b-button v-b-modal="'add-user'" class="adduser">
                    <img :src="require(`@/assets/img/add-user.png`)"/>&nbsp;ADD PATRONS
                </b-button>

                    <b-modal id="add-user" class="modal-header" title="Add Patron" hide-footer>
                        <div class="modal-body">
                            <div class="row">
                                <p>First Name</p>
                                <div class="col fname">
                                    <input type="text">
                                </div>
                            </div>
                        <div class="row">
                                <p>Middle Name</p>
                                <div class="col mname">
                                    <input type="text">
                                </div>
                            </div>
                            <div class="row">
                                <p>Last Name</p> 
                                <div class="col lname">
                                    <input type="text">
                                </div>
                            </div>
                            <div class="row">
                                <p>Email Address</p> 
                                <div class="col eadd">
                                    <input type="text">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn edits" block @click="$bvModal.hide('add-user')"><img :src="require(`@/assets/img/add-user.png`)"/> ADD PATRON</button>
                            <button type="button" class="btn cancel" block @click="$bvModal.hide('add-user')">CLOSE</button>
                        </div>
                    </b-modal>
         
                <div class="col-sm-5">
                    <div class="input-group mb-3 search">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-append">
                        <b-button class="searchs">Search</b-button>
                    </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
            <table class="content-table">
                <thead>
                <tr>
                    <th>ACTION</th>
                    <th>NAME</th>
                    <th>EMAIL</th>
                    <th>DATE REGISTERED</th>
                </tr>
                </thead>
                <tbody>
                    <tr v-for="(patron, index) in patrons" :key="index">
                        <td class="buttons">
                            <b-button v-b-modal="'deletes'" class="delete">
                                <img :src="require(`@/assets/img/delete.png`)"/>DELETE
                            </b-button>
                                <b-modal id="deletes" class="modal-title" title="Delete this Row?" hide-footer no-close-on-esc hide-header-close no-close-on-backdrop>
                                    <div class="modal-body">
                                        <div class="row">
                                            <p>Do you want to delete this row?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn edits" block @click="$bvModal.hide('deletes')">CONFIRM</button>
                                            <button type="button" class="btn cancel" block @click="$bvModal.hide('deletes')">CANCEL</button>
                                        </div>
                                    </div>
                                </b-modal>
                                &nbsp;&nbsp;
                            <button type="submit" class="btn edit"><img :src="require(`@/assets/img/edit.png`)"/> EDIT</button>
                        </td>
                        <td>
                        <p class="text-center">
                            {{
                            `${patron.name}`
                            }}
                        </p>
                        </td>
                        <td>
                        <p class="text-center">{{ patron.email }}</p>
                        </td>
                        <td>
                        <p class="text-center">{{ patron.registed }}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  data() {
    return {
      patrons: [
        {
            name: "Jose P. Rizal",
            email: "jose.rizal@gmail.com",
            registed: "January 20, 2020",
        },
        {
            name: "Jose P. Rizal",
            email: "jose.rizal@gmail.com",
            registed: "January 20, 2020",
        },
        {
            name: "Jose P. Rizal",
            email: "jose.rizal@gmail.com",
            registed: "January 20, 2020",
        },
        {
            name: "Jose P. Rizal",
            email: "jose.rizal@gmail.com",
            registed: "January 20, 2020",
        },
        {
            name: "Jose P. Rizal",
            email: "jose.rizal@gmail.com",
            registed: "January 20, 2020",
        }
      ]
    };
  },
  mounted() {
    document.title = "Stacks Library | Patron Management"
  }
};
</script>