<template>
  <div>
    <div>
      <b-navbar toggleable="lg" class="navbar">
          <b-navbar-brand href="#"><img :src="require(`@/assets/img/LOGO.png`)"/></b-navbar-brand>
          <b-button class="logout ml-auto">LOGOUT</b-button>
      </b-navbar>
    </div>
  </div>
</template>
