<template>
    <div class="wrapper">
		<div class="sidebar">
			<ul>
                <li>
                    <router-link to="/dash"  class="nav-link">
                        <img :src="require(`@/assets/img/dash.png`)"/>
                        <span class="link-text">Dashboard</span>
                    </router-link>
                </li>

				<li>
                    <router-link to="/patron"  class="nav-link">
                        <img :src="require(`@/assets/img/patron.png`)"/>
                        <span class="link-text">Patron Management</span>
                    </router-link>
                </li>

				<li>
                    <router-link to="/book" class="nav-link">
                        <img :src="require(`@/assets/img/book.png`)"/>
                        <span class="link-text">Book Management</span>
                    </router-link>
                </li>

				<li>
                    <router-link to="/settings" class="nav-link">
                        <img :src="require(`@/assets/img/settings.png`)"/>
                        <span class="link-text">Settings</span>
                    </router-link>
                </li>
                </ul>
		</div>
	</div>
</template>
